
.percentage-component {
  display: inline-block;
  text-align: right;
  vertical-align: middle;

  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;

  box-sizing: border-box;
  width: 160px;
  padding: 8px;
  max-height: 40px;

  overflow: hidden;
  color: dodgerblue;
  outline: 1px solid lightgray;
}


@media only screen and (max-width: 575px) {
  .percentage-component__number, .percentage-component__percentage {
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  .percentage-component__number, .percentage-component__percentage {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .percentage-component__number, .percentage-component__percentage {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1200px) {
  .percentage-component__number, .percentage-component__percentage {
    font-size: 32px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* style for Retina screen */
}
