
.container{
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

h2{
  color: dodgerblue;
}

.template-driven__json, .reactive-driven__json{
  color: lightgray;
  margin: 12px 0px;
}

