.demo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.container{
  display: inline-block;
  width: 420px;
  text-align: center;
  margin-top: 60px;
}

h2{
  color: dodgerblue;
}

.template-driven__json, .reactive-driven__json{
  color: lightgray;
  margin: 12px 0px;
}

