<div class="container">
  <div class="amptext">
    <h2 class="amptext__title">AMP Code Test</h2>
    <ul class="amptext__list">
      <li>accept input number like 0.1333, "0.1333", "13.33%"</li>
      <li>number rounding after input</li>
      <li>show warning message at console for invalid input into component</li>
      <li>work with both template driven forms and reactive forms</li>
      <li>it has component unit testing</li>
    </ul>
    <ul class="amptext__list">
      <li>class naming - BEM( Block Element Modifier)</li>
      <li>font size changes to breakpoints/retina-screen within component</li>
      <li>able to overwrite children component css from parent component</li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="percentage">

    <app-percentage
      [inputText]=inputValue1.inputText
      [decimalPlaces]=inputValue1.decimalPlaces
    ></app-percentage>

    <app-percentage
      [inputText]=inputValue2.inputText
      [decimalPlaces]=inputValue2.decimalPlaces
    ></app-percentage>

    <app-percentage
      [inputText]=inputValue3.inputText
      [decimalPlaces]=inputValue3.decimalPlaces
    ></app-percentage>

    <app-percentage
      [inputText]=inputValue4.inputText
      [decimalPlaces]=inputValue4.decimalPlaces
    ></app-percentage>

  </div>


</div>
